section h1 {
    color: #000000; 
    font-size: 24px; 
    font-weight: bold; 
}

.btn-1 {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    border: 2px;
}

.btn-1:hover {
    background-color: #45a049; 
    color: white; 
}