.header {
    background-color: #003366;
    padding: 20px; 
    text-align: center;
    color: white;
    min-height: 80px; 
}


form {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form div {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-2 {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}


